*{
	margin: 0;
	padding: 0;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
ul, li{
	list-style: none;
}

/****body begin****/
#body{
	width: 950px;
	height: 400px;
	border: 2px solid red;
	background: #fff;
	position: relative;
	margin: 70px auto;
}
/****body end****/